@model CMS.Models.HealthCenter

@{
    ViewData["Title"] = "Health Center";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}


<partial name="_Aside" />
<div class="main-content" id="panel">
<partial name="_Navbar" />

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">@ViewData["Title"]</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a asp-controller="HealthCenters" asp-action="Index" class="btn btn-sm btn-success btn-round btn-icon">
                        <span class="btn-inner--icon"><i class="fas fa-arrow-left"></i></span>
                        <span class="btn-inner--text">Back to List</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="card mb-4">
        <!-- Card body -->
        <div class="card-body">
            <!-- Form groups used in grid -->
             <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreatedAt" />
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group">
                            <label asp-for="Name" class="form-control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="form-group">
                            <label asp-for="StatusId" class="control-label"></label>
                            <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                            <span asp-validation-for="StatusId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">    
                        <div class="form-group">
                            <input type="submit" value="Save Item" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>