@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}


<partial name="_Aside" />
<div class="main-content" id="panel">
<partial name="_Navbar" />

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-12">
                    <h6 class="h2 text-white d-inline-block mb-0">@ViewData["Title"]</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="card mb-4">
        <!-- Card body -->
        <div class="card-body">
            <!-- Form groups used in grid --> 
            <div class="row">
                <div class="col-12">
                    @if (TempData["StatusMessage"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                            <span class="alert-text"><strong>Success!</strong> @TempData["StatusMessage"]</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    }

                    <form id="change-password-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.OldPassword" class="form-label"></label>
                            <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.NewPassword" class="form-label"></label>
                            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <input type="submit" value="Update password" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
