@model Tracking

@{
	ViewData["Title"] = "Home Page";
}

<section class="slider-element min-vh-75" style="background: url('images/background.jpeg') center center no-repeat; background-size: cover;">
	<div class="slider-inner">
		<div class="vertical-middle">
			<div class="container">
				<div class="center mx-auto" style="max-width: 700px;">
					<div class="emphasis-title">
						<h1 class="font-secondary" style="color: #FFF; font-size: 76px; font-weight: 900; text-shadow: 0 7px 10px rgba(0,0,0,0.07), 0 4px 4px rgba(0,0,0,0.2);">Ministry of Health & Medical Services</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="content">
	<div class="content-wrap pt-0 clearfix">
		<div class="container topmargin-lg bottommargin-lg clearfix">
			<div class="mx-auto" style="max-width: 960px">
				<div class="heading-block center border-bottom-0">
					<h2 class="ls2 fw-bold">Track My Application</h2>
					<span>We provide a quicker & convenient method of submitting online complaints promoting improved transparency and quicker responses. </span>
				</div>
				<form id="trackAppForm" asp-controller="Forms" asp-action="TrackApp" class="mb-0" data-animate="fadeInUp">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="input-group mx-auto">
						<input type="text" asp-for="TrackingId" class="form-control form-control-lg not-dark" placeholder="Enter application tracking number" style="border: 0; box-shadow: none; overflow: hidden;" />
						<input type="button" class="button fw-normal" value="Submit" onclick="submitTrackApp()" style="border-radius: 3px;" />
					</div>
					<span asp-validation-for="TrackingId" class="text-danger"></span>
				</form>
				<div class="mt-2">
					<p><strong>Are you unhappy with your response? If yes, <a asp-controller="Forms" asp-action="SubmitToPS">click here</a></strong></p>
				</div>
				
			</div>
		</div>
		<div class="container pt-lg-6">
			<div class="row clearfix">
				<div class="col-md-8">
					<div class="toggle toggle-bg" data-animate="fadeIn">
						<div class="toggle-header rounded-top fw-normal flex-row-reverse">
							<div class="toggle-icon">
								<i class="icon-line-circle-plus"></i>
							</div>
							<div class="toggle-title">
								<strong class="me-1">Q.</strong>What are some key programmes that the Ministry of Health are involved in?
							</div>
						</div>
						<div class="toggle-content rounded-bottom">
							Family Health, Non Communicable Diseases, Health Promotion, Communicable Diseases, Oral Health, National Food & Nutrition Centre, Environmental Health, National Eye Care Services and others.
						</div>
					</div>

					<div class="toggle toggle-bg" data-animate="fadeIn" data-delay="200">
						<div class="toggle-header rounded-top fw-normal flex-row-reverse">
							<div class="toggle-icon">
								<i class="icon-line-circle-plus"></i>
							</div>
							<div class="toggle-title">
								<strong class="me-1">Q.</strong>What does WASH mean?
							</div>
						</div>
						<div class="toggle-content rounded-bottom">
							WASH stands for Water & Sanitation Cluster.
							The primary purpose of the cluster is the delivery of water, sanitation and hygiene promotion assistance to affected populations during emergencies through improved coordination of the response at all levels.
						</div>
					</div>

					<div class="toggle toggle-bg" data-animate="fadeIn" data-delay="400">
						<div class="toggle-header rounded-top fw-normal flex-row-reverse">
							<div class="toggle-icon">
								<i class="icon-line-circle-plus"></i>
							</div>
							<div class="toggle-title">
								<strong class="me-1">Q.</strong>What are some objectives of the Fiji Health & Nutrition cluster?
							</div>
						</div>
						<div class="toggle-content rounded-bottom">
							The Fiji Health and Nutrition Cluster (HnN C) was formed in 2012 and is responsible in providing effective and efficient service to the people of Fiji before, during and after natural disasters.
							Some objectives include:
							<ol class="listQA">
								<li>
									Increase participation of cluster partners and donors / Strengthen Coordination with non HnN Cluster partner health providers / MoHMS thematic groups;
								</li>
								<li>
									Conduct HnN Cluster Contingency planning / develop plan to predict, prevent and respond to new emergencies / deterioration of the current humanitarian situation;
								</li>
								<li>
									Develop HnN Cluster strategy and action plan to respond to the priority emergency health and nutrition hazards and risks;
								</li>
								<li>
									Define geographical and thematic Structure of the cluster, roles of the partners / update HnN Cluster ToR;
								</li>
								<li>
									Develop and operationalize HnN Cluster advocacy strategy to inform humanitarian community, donors, relevant authorities about priority health issues and strengthen resource mobilization for the health sector with the aim to have identified problems tackled/solved;
								</li>
							</ol>
						</div>
					</div>
					<div class="toggle toggle-bg" data-animate="fadeIn" data-delay="600">
						<div class="toggle-header rounded-top fw-normal flex-row-reverse">
							<div class="toggle-icon">
								<i class="icon-line-circle-plus"></i>
							</div>
							<div class="toggle-title">
								<strong class="me-1">Q.</strong>What is the status of COVID-19 and its spread in Fiji?
							</div>
						</div>
						<div class="toggle-content rounded-bottom">
							Fiji’s first-person confirmed with COVID-19 tested positive for the virus on March 19, 2020. Since April 10th, the only individuals in the country that have tested positive for the virus have been in the Government-managed border quarantine facilities. They have then been placed in isolation where they remain until their results are negative from two COVID-19 tests.
						</div>
					</div>

					<div class="toggle toggle-bg" data-animate="fadeIn" data-delay="800">
						<div class="toggle-header rounded-top fw-normal flex-row-reverse">
							<div class="toggle-icon">
								<i class="icon-line-circle-plus"></i>
							</div>
							<div class="toggle-title">
								<strong class="me-1">Q.</strong>What is Fiji doing to minimize the risk of COVID introduction and community circulation?
							</div>
						</div>
						<div class="toggle-content rounded-bottom">
							Fiji has in place a highly effective quarantine system for ALL arrivals into the country that includes 14 days of mandatory quarantine together with negative testing required for release. This is to ensure that those entering Fiji present a minimal risk of community virus introduction and transmission. In addition, Fiji has robust nationwide disease surveillance and response Public Health system including contact tracing of all people who have been in contact with someone confirmed to have the virus and COVID-19 laboratory testing systems that provide early warning and rapid identification of people who potentially could have COVID-19.
						</div>
					</div>

					<div class="toggle toggle-bg" data-animate="fadeIn" data-delay="1000">
						<div class="toggle-header rounded-top fw-normal flex-row-reverse">
							<div class="toggle-icon">
								<i class="icon-line-circle-plus"></i>
							</div>
							<div class="toggle-title">
								<strong class="me-1">Q.</strong>What are the safety protocols for COVID-19 Screening?
							</div>
						</div>
						<div class="toggle-content rounded-bottom">
							All visitors to screening clinics, please ensure to practice COVID-19 safe protocols:
							<ol class="listQA">
								<li>Wear a mask that covers your mouth and nose;</li>
								<li>Wash your hands with soap and water or use an alcohol based sanitizer;</li>
								<li>Maintain safe physical distancing of 2 meters from another person;</li>
								<li>Have the careFIJI app installed on your mobile with the Bluetooth turned on; and</li>
								<li>Line up and do not crowd at the screening clinics.</li>
							</ol>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<img src="~/images/image1.jpg" alt="Image" />
					<div class="clear"></div>
					<img src="~/images/image2.png" alt="Image" />
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</section>

