@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<main class="main-content">
     <!-- Main content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="px-5">
              <p>
                  <img src="~/images/logo.png" class="auth-logo" />
              </p>
              <h1 class="text-white">Complaint Management System</h1>
              <p class="text-lead text-white">Ministry of Health & Medical Services</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-body px-lg-5 py-lg-5">
                 <div class="text-center text-muted mb-4">
                    <p>@ViewData["Title"]</p>
                </div>
              <div asp-validation-summary="ModelOnly" class="text-danger validation-summary-errors"></div>
              <form role="form" id="account" method="post">
                <div class="form-group mb-3">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" placeholder="Email" aria-required="true" aria-label="Email">
                   
                  </div>
                   <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="text-center">
                  <button id="login-submit" type="submit" class="btn btn-primary my-4">Reset Password</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a asp-page="./Login" class="text-light"><small>Sign In</small></a>
            </div>
            <div class="col-6 text-right">
              <a asp-controller="Home" asp-action="Index" class="text-light"><small>Back to home page</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
