@page
@model RegisterConfirmationModel

@{
    ViewData["Title"] = "Register confirmation";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<partial name="_Aside" />
<div class="main-content" id="panel">
<partial name="_Navbar" />

<div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">@ViewData["Title"]</h6>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-sm btn-success btn-round btn-icon">
                            <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                            <span class="btn-inner--text">Add User</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-body">
                        <p>Please ask the user to check his/her email for account confirmation link.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
