@page
@model RegisterModel
@{
    ViewData["Title"] = "Create User";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<partial name="_Aside" />
<div class="main-content" id="panel">
<partial name="_Navbar" />

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">@ViewData["Title"]</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a asp-controller="User" asp-action="Index" class="btn btn-sm btn-success btn-round btn-icon">
                        <span class="btn-inner--icon"><i class="fas fa-arrow-left"></i></span>
                        <span class="btn-inner--text">Back to List</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="card mb-4">
        <!-- Card body -->
        <div class="card-body">
            <!-- Form groups used in grid --> 
            <div class="row">
                <div class="col-12">
                    <form id="registerForm" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                 <div class="form-group">
                                    <label asp-for="Input.FirstName" class="form-control-label"></label>
                                    <input asp-for="Input.FirstName" class="form-control" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                 </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                 <div class="form-group">
                                    <label asp-for="Input.LastName" class="form-control-label"></label>
                                    <input asp-for="Input.LastName" class="form-control" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                 <div class="form-group">
                                    <label asp-for="Input.StatusId" class="form-control-label"></label>
                                    <select asp-for="Input.StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                                    <span asp-validation-for="Input.StatusId" class="text-danger"></span>
                                 </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                 <div class="form-group">
                                    <label asp-for="Input.RoleId" class="form-control-label"></label>
                                    <select asp-for="Input.RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                                    <span asp-validation-for="Input.RoleId" class="text-danger"></span>
                                 </div>
                            </div>
                        </div>
                        <div class="row">    
                            <div class="col-lg-4 col-md-12">
                                 <div class="form-group">
                                    <label asp-for="Input.Email" class="form-control-label"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                 </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                 <div class="form-group">
                                    <label asp-for="Input.Password" class="form-control-label"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                 </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                 <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword" class="form-control-label"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                 </div>
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <input type="submit" value="Create User" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>