@model ComplaintForm

@{
    ViewData["MainTitle"] = "Forms";
    ViewData["Title"] = "Complaint Form";
}

<partial name="_Heading" />

<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

				<div class="row">
					<div class="col-12">
						@{
							  if(ViewBag.SuccessMessage != null)
							  {
										<div class="alert alert-dismissible alert-success">
											Form submitted successfully! <strong>@ViewBag.SuccessMessage</strong>.
											<button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-hidden="true"></button>
										</div>
							  }
							  if(ViewBag.ErrorMessage != null)
							  {
										<div class="alert alert-dismissible alert-danger">
											Error! <strong>@ViewBag.ErrorMessage</strong>.
											<button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-hidden="true"></button>
										</div>
							  }
						}

						<form class="row" asp-action="Index" enctype="multipart/form-data">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<!-- Complainant Details-->
							<div class="col-12">
								<h3 class="text-uppercase">Complainant Details </h3>
							</div>
							<div class="col-lg-4 form-group">
								<label asp-for="ComplainantDetails.FirstName"></label><span class="requiredIcon">*</span>
								<input asp-for="ComplainantDetails.FirstName" class="form-control required" placeholder="Enter your First Name" />
								<span asp-validation-for="ComplainantDetails.FirstName" class="text-danger"></span>
							</div>
							<div class="col-lg-4 form-group">
								<label asp-for="ComplainantDetails.MiddleName"></label>
								<input asp-for="ComplainantDetails.MiddleName" class="form-control" placeholder="Enter your Middle Name"/>
								<span asp-validation-for="ComplainantDetails.MiddleName" class="text-danger"></span>
							</div>
							<div class="col-lg-4 form-group">
								<label asp-for="ComplainantDetails.LastName"></label><span class="requiredIcon">*</span>
								<input asp-for="ComplainantDetails.LastName" class="form-control required" placeholder="Enter your Last Name"/>
								<span asp-validation-for="ComplainantDetails.LastName" class="text-danger"></span>
							</div>
							<div class="col-lg-4 form-group">
								<label asp-for="ComplainantDetails.Email"></label><span class="requiredIcon">*</span>
								<input asp-for="ComplainantDetails.Email" class="form-control required" placeholder="Enter your email address"/>
								<span asp-validation-for="ComplainantDetails.Email" class="text-danger"></span>
							</div>
							<div class="col-lg-4 form-group">
								<label asp-for="ComplainantDetails.DateofBirth"></label><span class="requiredIcon">*</span>
								<input asp-for="ComplainantDetails.DateofBirth" class="form-control required" placeholder="DD/MM/YYYY" />
								<span asp-validation-for="ComplainantDetails.DateofBirth" class="text-danger"></span>
							</div>
							<div class="col-lg-4 form-group">
								<label asp-for="ComplainantDetails.GenderId"></label><span class="requiredIcon">*</span>
								<select asp-for="ComplainantDetails.GenderId" class="form-control" asp-items="ViewBag.Gender">
									<option value="">Please select gender</option>
								</select>
								<span asp-validation-for="ComplainantDetails.GenderId" class="text-danger"></span>
							</div>
							<div class="col-lg-6 form-group">
								<label asp-for="ComplainantDetails.CountryId"> </label><span class="requiredIcon">*</span>
								<select asp-for="ComplainantDetails.CountryId" class="form-control" asp-items="ViewBag.Countries">
									<option value="">Please select country</option>
								</select>
								<span asp-validation-for="ComplainantDetails.CountryId" class="text-danger"></span>
							</div>
							<div class="col-lg-6  form-group">
								<label asp-for="ComplainantDetails.ContactNumber"></label><span class="requiredIcon">*</span>
								<input asp-for="ComplainantDetails.ContactNumber" type="number" class="form-control required" placeholder="Enter your contact number"/>
								<span asp-validation-for="ComplainantDetails.ContactNumber" class="text-danger"></span>
							</div>
							<div class="col-12 form-group">
								<label asp-for="ComplainantDetails.ResidentialAddr"></label><span class="requiredIcon">*</span>
								<input asp-for="ComplainantDetails.ResidentialAddr" class="form-control required" placeholder="Enter your residential address"/>
								<span asp-validation-for="ComplainantDetails.ResidentialAddr" class="text-danger"></span>
							</div>
							<div class="col-lg-6 form-group">
								<label asp-for="ComplainantDetails.PostalAddr"></label>
								<input asp-for="ComplainantDetails.PostalAddr" class="form-control" placeholder="Enter your postal address"/>
								<span asp-validation-for="ComplainantDetails.PostalAddr" class="text-danger"></span>
							</div>
							<div class="col-lg-6 form-group">
								<label asp-for="ComplainantDetails.TownCity"></label><span class="requiredIcon">*</span>
								<input asp-for="ComplainantDetails.TownCity" class="form-control required" placeholder="Enter your town/city"/>
								<span asp-validation-for="ComplainantDetails.TownCity" class="text-danger"></span>
							</div>

							<!-- Complaint Details-->
							<div class="col-12 formHeading">
								<h3 class="text-uppercase">Complaint Details </h3>
							</div>
							<div class="col-lg-4 form-group">
								<label asp-for="ComplaintDetails.DateofIncident"></label><span class="requiredIcon">*</span>
								<input asp-for="ComplaintDetails.DateofIncident" class="form-control required" placeholder="DD/MM/YYYY"/>
								<span asp-validation-for="ComplaintDetails.DateofIncident" class="text-danger"></span>
							</div>
							<div class="col-lg-4 form-group">
								<label asp-for="ComplaintDetails.HealthFacilityId"></label><span class="requiredIcon">*</span>
								<select asp-for="ComplaintDetails.HealthFacilityId" class="form-control" asp-items="ViewBag.HealthFacilities" onchange="showOthersInput(this)">
									<option value="">Please select health facility</option>
								</select>
								<span asp-validation-for="ComplaintDetails.HealthFacilityId" class="text-danger"></span>
							</div>
							<div class="col-lg-4 form-group">
								<label asp-for="ComplaintDetails.ComplaintReasonId"></label><span class="requiredIcon">*</span>
								<select asp-for="ComplaintDetails.ComplaintReasonId" class="form-control required" asp-items="ViewBag.ComplaintReasons">
									<option value="">Please select complaint reason</option>
								</select>
								<span asp-validation-for="ComplaintDetails.ComplaintReasonId" class="text-danger"></span>
							</div>
							<div class="col-12 form-group" id="hospitalFac">
								<label asp-for="ComplaintDetails.HospitalId"></label><span class="requiredIcon">*</span>
								<select asp-for="ComplaintDetails.HospitalId" class="form-control required" asp-items="ViewBag.Hospitals">
									<option value="">Please select hospital</option>
								</select>
								<span asp-validation-for="ComplaintDetails.HospitalId" class="text-danger"></span>
							</div>
							<div class="col-12 form-group" id="healthCenterFac">
								<label asp-for="ComplaintDetails.HealthCenterId"></label><span class="requiredIcon">*</span>
								<select asp-for="ComplaintDetails.HealthCenterId" class="form-control required" asp-items="ViewBag.HealthCenters">
									<option value="">Please select health center</option>
								</select>
								<span asp-validation-for="ComplaintDetails.HealthCenterId" class="text-danger"></span>
							</div>
							<div class="col-12 form-group" id="nursingStationFac">
								<label asp-for="ComplaintDetails.NursingStationId"></label><span class="requiredIcon">*</span>
								<select asp-for="ComplaintDetails.NursingStationId" class="form-control required" asp-items="ViewBag.NursingStations">
									<option value="">Please select nursing station</option>
								</select>
								<span asp-validation-for="ComplaintDetails.NursingStationId" class="text-danger"></span>
							</div>
							<div class="col-12 form-group" id="othersHealthFac">
								<label asp-for="ComplaintDetails.HealthFacilityName"></label><span class="requiredIcon">*</span>
								<input asp-for="ComplaintDetails.HealthFacilityName" class="form-control required" placeholder="Enter health facility name"/>
								<span asp-validation-for="ComplaintDetails.HealthFacilityName" class="text-danger"></span>
							</div>
							<div class="col-lg-6 form-group">
								<label asp-for="ComplaintDetails.ComplaintFirstTime"></label><span class="requiredIcon">*</span>
								<div class="btn-group d-flex" data-bs-toggle="buttons">
									<input type="radio" class="btn-check" asp-for="ComplaintDetails.ComplaintFirstTime" id="ComplaintYes" value="Yes">
									<label class="btn btn-outline-secondary nott ls0" for="ComplaintYes">Yes</label>

									<input type="radio" class="btn-check" asp-for="ComplaintDetails.ComplaintFirstTime" id="ComplaintNo" value="No">
									<label class="btn btn-outline-secondary nott ls0" for="ComplaintNo">No</label>
								</div>
								<span asp-validation-for="ComplaintDetails.ComplaintFirstTime" class="text-danger"></span>
							</div>
							<div class="col-lg-6 form-group">
								<label asp-for="ComplaintDetails.ComplaintBehalf"></label><span class="requiredIcon">*</span>
								<div class="btn-group d-flex" data-bs-toggle="buttons">
									<input type="radio" class="btn-check" asp-for="ComplaintDetails.ComplaintBehalf" id="ComplaintBehalfYes" value="Yes">
									<label class="btn btn-outline-secondary nott ls0" for="ComplaintBehalfYes">Yes</label>

									<input type="radio" class="btn-check" asp-for="ComplaintDetails.ComplaintBehalf" id="ComplaintBehalfNo" value="No">
									<label class="btn btn-outline-secondary nott ls0" for="ComplaintBehalfNo">No</label>
								</div>
								<span asp-validation-for="ComplaintDetails.ComplaintBehalf" class="text-danger"></span>
							</div>
							<div class="col-12 form-group" id="firstTimeReason">
								<label asp-for="ComplaintDetails.ComplaintFirstTimeReason"></label><span class="requiredIcon">*</span>
								<textarea asp-for="ComplaintDetails.ComplaintFirstTimeReason" class="form-control required" placeholder="Enter reason"></textarea>
								<span asp-validation-for="ComplaintDetails.ComplaintFirstTimeReason" class="text-danger"></span>
							</div>
							<div class="col-12 form-group" id="behalfReason">
								<label asp-for="ComplaintDetails.ComplaintBehalfReason"></label><span class="requiredIcon">*</span>
								<textarea asp-for="ComplaintDetails.ComplaintBehalfReason" class="form-control required" placeholder="Enter reason"></textarea>
								<span asp-validation-for="ComplaintDetails.ComplaintBehalfReason" class="text-danger"></span>
							</div>
							<div class="col-12 form-group">
								<label asp-for="ComplaintDetails.ComplaintExplanation"></label><span class="requiredIcon">*</span>
								<textarea asp-for="ComplaintDetails.ComplaintExplanation" class="form-control required" placeholder="Enter explanation"></textarea>
								<span asp-validation-for="ComplaintDetails.ComplaintExplanation" class="text-danger"></span>
							</div>
							<div class="col-12 form-group">
								<label asp-for="ComplaintDetails.Remedy"></label>
								<textarea asp-for="ComplaintDetails.Remedy" class="form-control required" placeholder="Enter remedy"></textarea>
								<span asp-validation-for="ComplaintDetails.Remedy" class="text-danger"></span>
							</div>

							<!-- Evidence Attachment Details -->
							<div class="col-12 formHeading">
								<h3 class="text-uppercase">Evidence Attachment Details </h3>
							</div>
							<div class="form-group">
								<label>Upload Evidence:</label>
								<input type="file" id="userfiles" name="userfiles" class="file-loading form-select" data-show-preview="true" multiple />
								<small>Supported formats: jpg, jpeg, png, pdf, docx, xls</small>
							</div>

							<div class="col-12">
								<input type="submit" class="btn btn-secondary" value="Submit Form"/>
							</div>
						</form>
					</div>
				</div>

		</div>
	</div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
